### 8.2 Notion de tableau

#### Création d'un tableau

Un tableau permet de stocker plusieurs valeurs dans une seule variable et d'y accéder ensuite facilement.
En Python, on construit un tableau en énumérant ses valeurs entre crochets et séparées par des virgules.

```python
>>> t = [2, 3, 5]
```

In [4]:
t = [2, 3, 5]

Ici, on a déclaré une variable `t` contenant un tableau. Ce tableau contient trois entiers. Les valeurs sont **ordonnées**. 

- la première valeur est `2`
- la deuxième `3`
- la troisième `5`

On peut se représenter un tableau comme des cases consécutives

$$
\begin{array}{|c|c|c|}
\hline
\texttt{2} & \texttt{3} & \texttt{5} \\
\hline
\end{array}
$$

C'est en effet ainsi qu'**un tableau est organisé dans la mémoire de l'ordinateur** : ses valeurs y sont rangées consécutivement.

#### Indices d'un tableau

Pour accéder à une valeur contenue dans le tableau `t`, il faut utiliser la notation `t[i]` où `i` désigne la numéro de la case à laquelle on veut accéder.

**Les cases sont numérotées à partir de zéro.**

Ainsi, la valeur contenue dans la première case du tableau est

```python
>>> t[0]
2
```

In [5]:
t[0]

2

Écrire un code qui essaye d'accéder à une case en dehors des limites du tableau.

In [6]:
t[3]

IndexError: list index out of range

On dit que 0 est l'**indice** de la première case.

La **taille** d'un tableau est son nombre de cases.

On obtient la taille d'un tableau avec l'opération `len(t)`.

```python
>>> len(t)
3
```

In [7]:
len(t)

3

Les indices d'un tableau `t` prennent donc des valeurs comprises entre `0` et `len(t)-1`.

Ce qui donne la représentation mentale suivante :


$$
\begin{array}{ccc}
0 & 1 & 2
\end{array}
\\
\begin{array}{|c|c|c|}
\hline
\texttt{2} & \texttt{3} & \texttt{5} \\
\hline
\end{array}
$$

Mais **attention**, seules les valeurs sont stockées en mémoire de l'ordinateur. Les indices n'ont pas besoin d'être matérialisés.

#### Retour sur la pyramide des âges

Créer un tableau `pda` contenant les 10 premiers effectifs de la pyramide des âges.

In [8]:
pda = [691754, 714585, 723589, 741105, 761638, 782397, 806296, 813727, 830361, 836626]

Dans la case `i` du tableau `pda` on retrouve le nombre de français ayant exactement l'âge `i`.

Créer un programme qui demande un âge à l'utilisateur et affiche le nombre de français ayant cet âge-là.

#### Modification du contenu d'un tableau

Le contenu d'un tableau peut être modifié.
Pour cela, on utilise un **affectation** exactement comme on le ferait avec une variable.

Ainsi, pour modifier le contenu de la seconde case du tableau `t` pour y remplacer la valeur 3 par la valeur 17 :

```python
>>> t[1] = 17
```

In [9]:
t[1] = 17

Modifier le tableau `pda` pour y traduire une naissance.

In [10]:
pda[0] = pda[0] + 1
pda

[691755,
 714585,
 723589,
 741105,
 761638,
 782397,
 806296,
 813727,
 830361,
 836626]